# Environment & secrets
.env
.env.*
*.key
*.pem
*.p12
*.pfx

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/models/Human_Male_Anims.glb
public/models/Human_Female_Anims.glb
public/models/Elf_Male_Anims.glb
public/models/Human_Male_Idle.glb
public/models/Human_Female_Idle.glb
public/models/Elf_Male_Idle.glb
